/* tutaj */

:root {
    --background: #3a86ff;
    --text: #fff;
    --button: #fb5607;
    --border: #ffbe0b;
    --userBox: #333;
    --error: #e51022;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: var(--background);
}

header {
    display: flex;
    justify-content: center;
    min-width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
}

button {
    position: relative;
    padding: 1em 2em;
    color: var(--text);
    font-weight: bold;
    background-color: var(--button);
    border: 0.15rem solid var(--border);
    border-radius: 2em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: all .3s linear;
}

button:hover {
    border-color: var(--button);
}

button:focus {
    outline: none;
}

input[type="text"] {
    margin: 2rem 0 0.5rem 0;
    padding: 0.5rem 1rem;
    color: var(--text);
    font-size: 1rem;
    border: 1px solid var(--text);
    background-color: var(--userBox);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 3px var(--userBox);
    outline: none;
}

.header-after {
    align-self: flex-start;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: var(--text);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: zoom .3s;
}

@keyframes zoom {
    to {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

.user-box {
    width: 10rem;
    height: 20rem;
    margin: 1rem;
    background-color: var(--userBox);
    border: 0.075rem solid var(--border);
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-box-img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.user-box-body {}

.error-box {
    max-width: 400px;
    padding: 1rem 2rem;
    color: var(--text);
    font-size: 1.5rem;
    background-color: var(--userBox);
    border: 0.05rem solid var(--error);
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 2.5px var(--userBox);
}

.error-box div {
    margin-bottom: 1rem;
}

/* tutaj */